@import "tailwindcss";
*, html{
    box-sizing: border-box;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    user-select: none;
}


body, p, li, a, span, td, th {font-size: clamp(0.95rem, 1vw + 0.5rem, 1.1rem); line-height: 1.5;}

/* Headings */
h1 {font-size: clamp(2rem, 4vw + 1rem, 3.5rem);}
h2 {font-size: clamp(1.75rem, 3vw + 0.8rem, 2.75rem);}
h3 {font-size: clamp(1.5rem, 2.5vw + 0.6rem, 2rem);}
h4 {font-size: clamp(1.25rem, 2vw + 0.4rem, 1.5rem);}
h5 {font-size: clamp(1.1rem, 1.5vw + 0.3rem, 1.25rem);}
h6 {font-size: clamp(1rem, 1vw + 0.2rem, 1.1rem);}
small {font-size: clamp(0.75rem, 0.8vw + 0.2rem, 0.9rem);}
blockquote {font-size: clamp(1.1rem, 1.5vw + 0.3rem, 1.35rem);}
